# Ignore compiled files and dependencies
/node_modules/
/build/
/dist/
*.log

# Ignore virtual environment
backend/venv/

# Ignore frontend build artifacts
/frontend/build/

# Ignore backend migration files
/backend/migrations/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore database files
*.sqlite
*.sqlite3
*.db
*.db-journal

# Ignore Python __pycache__ directories everywhere
__pycache__/
**/__pycache__/

# Ignore Python testing environments
**/backend/static/

# xuine
file_paths.txt
main.py
merged_code.txt

