main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.rating{
    margin: 0.1rem;


}


a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

select {
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    background-position: right .5em top 50%;
    background-size: 1em auto;
  }
  